{% set flavor_name = flavor_name or "esc_test.small" %}
{% set image_name = image_name or "testVM" %}
---
  ElasticsearchLogging.log_instance:
    -
      args:
        flavor:
          name: {{ flavor_name }}
        image:
          name: {{ image_name }}
        logging_vip: 10.0.0.5
        elasticsearch_port: 5601
        sleep_time: 5
        retries_total: 30
        additional_query:
          must_not:
          - match_phrase:
              Payload: GET
          - match_phrase:
              http_method: GET
          should:
          - range:
              Timestamp:
                gte: now-2m
                lte: now
          minimum_should_match: 1
      runner:
        type: "constant"
        times: 10
        concurrency: 1
      context:
        users:
          tenants: 1
          users_per_tenant: 1
        flavors:
          -
            name: {{ flavor_name }}
            ram: 512
            disk: 1
            vcpus: 1
        images:
          image_name: {{ image_name }}
          image_url: http://download.cirros-cloud.net/0.3.5/cirros-0.3.5-x86_64-disk.img
          disk_format: qcow2
          container_format: bare
          visibility: public
      sla:
        failure_rate:
          max: 0
