---
  BarbicanSecrets.create_symmetric_and_delete:
    -
      args:
        payload: "rally_data"
        algorithm: "aes"
        bit_length: 256
        mode: "cbc"
      runner:
        type: "constant"
        times: 2
        concurrency: 1
      context:
        users:
          tenants: 1
          users_per_tenant: 1
      sla:
        failure_rate:
          max: 0

