{% set flavor_name = flavor_name or "m1.tiny" %}
---
  NeutronTrunks.boot_server_with_subports:
    -
      args:
        flavor:
            name: "{{flavor_name}}"
        image:
            name: "^cirros.*-disk$"
        network_create_args: {}
        subport_count: 10
      runner:
        type: "constant"
        times: 100
        concurrency: 10
      context:
        users:
          tenants: 3
          users_per_tenant: 3
        quotas:
          neutron:
            network: -1
            subnet: -1
            port: -1
            trunk: -1
          nova:
            instances: -1
            cores: -1
            ram: -1
      sla:
        failure_rate:
          max: 0
